<%- include("header") -%>
    
    <h1 id="dateHeading"><%= dateTitle %></h1>
    <h1 class="box" id="heading"> <%= listTitle %> </h1>   
    
    <form action="/" method="post">
        <div class="box">
            <% for(let i = 0; i<listItem.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= listItem[i] %></p>
                </div>
                
            <% } %>
            <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
            <button type="submit" name="submitBtn" value=<%= listTitle %> > +</button>
        </div>

    </form>

<%- include("footer") -%>
