<%- include("header") -%>
    
    <h1 id="dateHeading"><%= dateTitle %></h1>

    <div class="navBtns">
        <button class="navigationBtn" onclick="location.href='/'">Tasks</button>
        <button class="navigationBtn" onclick="location.href='/work'">Work</button>
        <button class="navigationBtn" onclick="location.href='/chores'">Chores</button>   
    </div>
    <h1 class="box" id="heading"> <%= listTitle %> </h1>
    
   
    <form action="/" method="post">
        <div class="box">
            <% for(let i = 0; i<listItem.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= listItem[i] %></p>
                </div>
                
            <% } %>
            <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
            <button class="addBtn" type="submit" name="submitBtn" value=<%= listTitle %> > +</button>
        </div>

    </form>

<%- include("footer") -%>
