<%- include("header") -%>
    
    <div class="headerNav">
        <a class="navTag" href="/">Tasks</a>
        <a class="navTag" href="/work">Work</a>
        <a class="navTag" href="/chores">Chores</a>
    </div>

    <h1 id="dateHeading"><%= dateTitle %></h1>
    <h1 class="box" id="heading"> <%= listTitle %> </h1>
   
        <div class="box">
           <% listItem.forEach(function(i){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="hidden" name="listNameBtn" value=<%= listTitle %>>
                    <input type="checkbox" name="submitCheckbox" value=<%= i._id %> onChange="this.form.submit()">
                    <p><%= i.name %></p>
                </div>
            </form>
           <% }); %>

           <form action="/" method="post">
                <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
                <button class="addBtn" type="submit" name="submitBtn" value=<%= listTitle %> > +</button>
            </form>
        </div>

<%- include("footer") -%>
